@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario: #0A3871;
    --color-secundario:#E5E5E5;
    --color-hover:#272727;
    --fuente-texto: font-family: "Inter", sans-serif;

}

*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    color: var(--color-secundario);
}

.header{
    padding: 1% 0% 0% 0%;
}

.contenido__main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.contenido__cifrar{
    padding: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    height: 100%;
    width: auto;
    margin-left: 2%;
}

#textarea__cifrar{
    outline: none;
    border: none;
    color: var(--color-primario);
    font-family: var(--fuente-texto);
    font-size: 24px;
    height: 300px;
}

.contenido__descifrado{
    display: flex;
    justify-content: flex-start;
    width: 20%;
    flex-direction: column;
    border: var(--color-secundario) solid;
    border-radius: 20px;
    gap: 12%; 
}

.contenido__texto__descifrado{
    margin: 3% 0% 0% 5%;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: var(--fuente-texto);
    font-size: 24px;
    height: 15%;
}

.contenido__no__encontrado{
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contenido__imagen{
    width: 70%;
}

.contenido__texto__no__encontrado{
    text-align: center;
    color: #000000;
    font-family: var(--fuente-texto);
    font-size: 34px;

}

.contenido__texto__a__ingresar{
    font-family: var(--fuente-texto);
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.contenido__texto{
    font-family: var(--fuente-texto);
    color: #000000;
    font-size: 14px;
    margin: 30% 0 1% 0;
}

.contenido__botones{
    display: flex;
    gap: 24px;
    align-content: space-between;
}

.boton__cifrar{
    font-size: large;
    font-weight: 400;
    background-color: var(--color-primario);
    border-radius: 24px;
    color: var(--color-secundario);
    width: 328px;
    height: 60px;
}

.boton__descifrar{
    font-size: large;
    font-weight: 400;
    width: 328px;
    height: 60px;
    border: 2px var(--color-primario) solid;
    color: var(--color-primario);
    border-radius: 24px;
}

.footer{
    padding: 2%;
    font-weight: 400;
    text-align: center;
    font-family: var(--fuente-texto);
    color: #000000;
}

@media(max-width: 1200px){

    .header{
        padding: 7%;
    }

    .contenido__main{
        flex-direction: column;
        justify-content: center;
    }

    .contenido__cifrar{
        padding: 5%;
    }

    .contenido__descifrado{
        width: auto;
        border: none;
    }
}